h1{height: 600px;
    background-color: brown;
    color: blue;
    background-image:url(cox.jpg);
    background-size: cover;
    border: 20px solid black;
    margin: 20px;
}
.blog{
background-color:yellow;
color: black;
border: 20px solid tomato;
margin: 20px;
border-radius: 10px;
}
#as{
background-color:yellow;
color: black;
border: 20px solid tomato;
margin: 20px;
border-radius: 10px;

}
.list{
    background-color:brown;
    color:black ;
}
.ab
{
    background-color: brown;
}